<section class="employees">
  <div class="employees__pending">
    <h3 class="heading-3">Pending reviews of Sam:</h3>

    <div>
      <p>To : <span>Ram</span></p>
      <p>Feedback : <span>Nice work</span></p>
    </div>

    <div>
      <p>To : <span>Ram</span></p>
      <p>Feedback : <span>Nice work very good excellent</span></p>
    </div>

    <div>
      <p>To : <span>Ram</span></p>
      <p>Feedback : <span>Nice work</span></p>
    </div>

    <div>
      <p>To : <span>Ram</span></p>
      <p>Feedback : <span>Nice work</span></p>
    </div>
  </div>

  <div class="employees__reviewer">
    <h3 class="heading-3">Reviews provided By Sam:</h3>

    <div>
      <p>To : <span>Ram</span></p>
      <p>Feedback : <span>Nice work</span></p>
    </div>

    <div>
      <p>To : <span>Ram</span></p>
      <p>Feedback : <span>Nice work very good excellent</span></p>
    </div>

    <div>
      <p>To : <span>Ram</span></p>
      <p>Feedback : <span>Nice work</span></p>
    </div>

    <div>
      <p>To : <span>Ram</span></p>
      <p>Feedback : <span>Nice work</span></p>
    </div>
  </div>

  <div class="employees__reviewee">
    <h3 class="heading-3">Reviews Recieved by Sam:</h3>

    <div>
      <p>From : <span>Ram</span></p>
      <p>Feedback : <span>Nice work</span></p>
    </div>

    <div>
      <p>From : <span>Ram</span></p>
      <p>Feedback : <span>Nice work there</span></p>
    </div>

    <div>
      <p>From : <span>Ram</span></p>
      <p>Feedback : <span>Nice work very good excellent</span></p>
    </div>

    <div>
      <p>From : <span>Ram</span></p>
      <p>Feedback : <span>Nice work</span></p>
    </div>
  </div>
</section>
