<section class="feedback">
  <form action="/employee/submitFeedback" method="POST" class="feedback__form">
    <h3 class="heading-1--mod">Welcome to feedback page, <%= user.name %>!</h3>

    <div class="feedback__item heading-3">
      <label for="reviewee">Select reviewee</label>
      <select name="revieweeId" id="reviewee" required>
        <option value="" disabled selected>--Please choose a reviewee--</option>
        <% reviewees.forEach(reviewee => { %>
        <option value="<%= reviewee._id %>"><%= reviewee.name %></option>
        <% }); %>
      </select>
    </div>

    <div class="feedback__item heading-3">
      <label for="review">Feedback</label>
      <textarea
        id="review"
        name="review"
        placeholder="Feedback..."
        required
      ></textarea>
    </div>

    <button class="btn" type="submit">Create</button>
  </form>
</section>
