<div class="landing">
  <img src="img/logo.png" alt="landing logo" class="landing__logo" />

  <h3 class="heading-3">Your own CMS</h3>

  <h1 class="heading-1">The ultimate employee review system</h1>

  <div class="landing__seenon-text">Seen on</div>

  <div class="landing__seenon-logos">
    <img src="img/logo-bbc.png" alt="bbc logo" />
    <img src="img/logo-forbes.png" alt="forbes logo" />
    <img src="img/logo-techcrunch.png" alt="techcrunch logo" />
    <img src="img/logo-bi.png" alt="bi logo" />
  </div>
</div>

<section class="topemployees">
  <h3 class="heading-3">Top 3 employees</h3>
  <div class="topemployees__list">
    <img src="img/employee-1.jpeg" alt="employee 1" class="topemployees__img" />
    <div class="topemployees__details">
      <h4 class="heading-4 heading-4--light">Subham Sarkar</h4>
      <p class="topemployees__reviews">45 positive reviews</p>
    </div>

    <img src="img/employee-2.jpeg" alt="employee 2" class="topemployees__img" />
    <div class="topemployees__details">
      <h4 class="heading-4 heading-4--light">Smita Jain</h4>
      <p class="topemployees__reviews">40 positive reviews</p>
    </div>

    <img src="img/employee-3.jpeg" alt="employee 3" class="topemployees__img" />
    <div class="topemployees__details">
      <h4 class="heading-4 heading-4--light">Amit Patel</h4>
      <p class="topemployees__reviews">37 positive reviews</p>
    </div>
  </div>
</section>
